# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# VSCode
.vscode/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db