<header class="shadow-sm bg-white sticky-top">

    <nav class="navbar navbar-expand-lg py-3">

        <div class="container">

            <a class="navbar-brand fw-bold fs-3 text-primary" href="/">
                CMAH
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainMenu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="mainMenu">

                <form class="mx-lg-5 flex-grow-1">

                    <div class="input-group">

                        <span class="input-group-text bg-white">

                            <i class="bi bi-search"></i>

                        </span>

                        <input
                            class="form-control"
                            placeholder="جستجوی خدمات ...">

                    </div>

                </form>

                <a href="#"
                   class="btn btn-primary">

                    ورود / ثبت نام

                </a>

            </div>

        </div>

    </nav>

    <div class="border-top">

        <div class="container">

            <ul class="nav justify-content-center py-2">

                <li class="nav-item">
                    <a class="nav-link" href="#">خدمات</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">پیگیری سفارش</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">سوالات متداول</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">وبلاگ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">تماس با ما</a>
                </li>

            </ul>

        </div>

    </div>

</header>