{% extends "layouts/base.html" %}


{% block seo %}

<link
    rel="canonical"
    href="{{ request.build_absolute_uri }}"
>


<meta
    property="og:type"
    content="article"
>


<meta
    property="og:title"
    content="{{ page.seo_title|default:page.title }}"
>


<meta
    property="og:description"
    content="{{ page.seo_description }}"
>


{% if page.og_image %}

<meta
    property="og:image"
    content="{{ request.scheme }}://{{ request.get_host }}{{ page.og_image.url }}"
>

{% endif %}



<meta
    name="twitter:card"
    content="summary_large_image"
>


{% endblock %}

{% block title %}

{{ page.seo_title|default:page.title }}

{% endblock %}



{% block meta_description %}

{{ page.seo_description }}

{% endblock %}



{% block content %}

<section class="container py-5">

    <h1 class="mb-4">
        {{ page.title }}
    </h1>


    <div class="page-content">

        {{ page.content|safe }}

    </div>

</section>

{% endblock %}